.classpath
.project
.settings
eclipsebin

bin
gen
build
out
lib

.idea
*.iml
classes

obj

.DS_Store

.gradle
jniLibs
build
local.properties
reports

google-services.json

com_crashlytics_export_strings.xml

moviegur.keystore